[submodule "external/tinycolormap"]
	path = external/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "external/optimization-test-functions"]
	path = external/optimization-test-functions
	url = https://github.com/yuki-koyama/optimization-test-functions.git
